.main .quizInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.creationQuiz_msg {
    width: 100%;
    font-size: 4vmin;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vmin;
}

.creationQuiz_warning {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vmin;
}

.creationQuiz_warning .warning_icon {
    margin-right: 1.5vmin;
    color: #E8314E;
    font-size: 2vmin;
}

.creationQuiz_warning .warning_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8314E;
    color: rgb(244, 244, 244);
    font-size: 2.5vmin;
    font-weight: 600;
    padding: 1vmin 2vmin;
    border-radius: 2vmin;
}

.quizInfo .quizInfo_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizInfo_form input {
    outline: none;
    font-size: 2.5vmin;
    
}

.quizInfo_form .quizInfo_title {
    width: 80%;
    padding-left: 1vmin;
    padding-bottom: 0.8vh;
    margin-bottom: 2vmin;
    border: none;
    border-bottom: 1px solid black;
}

.quizInfo_form .quizInfo_num {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1vmin;
}

.quizInfo_num .quizInfo_num_msg {
    margin-right: 2vmin;
    font-size: 2.2vmin;
    font-weight: 500;
}

.quizInfo_num .quizInfo_num_input {
    width: 3.5vmin;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    margin-right: 2vmin;
}

.quizInfo_num .quizInfo_num_input::-webkit-inner-spin-button,
.quizInfo_num .quizInfo_num_input::-webkit-outer-spin-button {
    appearance: none;
}

.quizInfo_num .quizInfo_btn {
    /* width: 8vmin;
    height: 4vmin; */
    padding: 1vmin 2vmin;
    font-size: 1.8vmin;
}

.creationQuiz_editMsg {
    margin-top: 5vmin;
    font-size: 2.8vmin;
    color: rgb(20, 125, 125);
    font-weight: 600;
}