.creation_complete{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.creation_complete .quizBtn{
    width: 80%;
    margin-top: 4vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quizBtn_start, .quizBtn_save {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vmin;
    box-shadow: 0px 8px 25px -13px #000000;
}

.quizBtn_start {
    background-color: #3794eb;
}

.quizBtn_save {
    background-color: #E8314E;
}

.start_icon, .save_icon {
    font-size: 2vmin;
    margin: 4vmin 0px 3vmin 0px;
    color: rgb(244, 244, 244)
}

.quizBtn_start .start_msg,
.quizBtn_save .save_msg {
    margin-top: 2vmin;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.start_msg li,
.save_msg li {
    margin-bottom: 1.5vmin;
    font-size: 2.2vmin;
    font-weight: 500;
    color: rgb(244, 244, 244);
}

.quizBtn_start .startBtn,
.quizBtn_save .saveBtn {
    font-size: 3vmin;
    padding: 1.2vmin 8vmin;
    position: relative;
    bottom: -2vmin;
    color: #111827;
    background-color: rgb(238, 238, 238);
}

.quizBtn_start .startBtn:hover,
.quizBtn_save .saveBtn:hover {
   background-color: rgb(244, 244, 244);
}

.quizBtn_start .startBtn:active,
.quizBtn_save .saveBtn:active {
    position: relative;
    top: 2.1vmin;
}

@media screen and (max-width: 1000px) {
    .creation_complete .quizBtn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .quizBtn .quizBtn_start,
    .quizBtn .quizBtn_save {
        width: 80%;
        margin-bottom: 8vmin;
    }
}