.home_page .home_intro {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4vmin;
    
}

.home_intro .intro_mainMsg {
    font-size: 4vmin;
    font-weight: 700;
    margin-bottom: 3vmin;
}

.home_intro .intro_subMsg{
    font-size: 3vmin;
    font-weight: 500;
}

.home_page .home_contents {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_page_warning {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vmin;
}

.home_page_warning .warning_icon {
    margin-right: 1.5vmin;
    color: #599719;
    font-size: 4vmin;
}

.home_page_warning .warning_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #599719;
    color: rgb(244, 244, 244);
    font-size: 2.5vmin;
    font-weight: 600;
    padding: 1vmin 2vmin;
    border-radius: 2vmin;
}

@media screen and (max-width: 1000px) { 
    .home_page .home_contents {
        width: 60%;
    }
}