.home_contents .home_chrome {
    width: 100%;
    padding: 2vmin 1vmin;
    background-color: rgb(220, 64, 64);
    border-radius: 3vmin;
    color: #f0f0f0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: 9px 8px 16px 1px rgba(0,0,0,0.89); 
    box-shadow: 9px 8px 16px 1px rgba(0,0,0,0.89);
}

.home_chrome .chrome_column:first-child {
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 7vmin;
}

.home_chrome .chrome_column:last-child {
    width: 75%;
    font-size: 2.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home_chrome .chrome_state {
    margin-top: 1vmin;
}

.home_chrome a {
    color: #f0f0f0;
    text-decoration: underline;
}