.home_contents .home_notice {
    width: 100%;
    margin-top: 3vmin;
    padding-top: 3vmin;
    margin-bottom: 6vmin;
    border-top: 2px solid #E9ECEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_notice .home_notice_column:first-child {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 3vmin;
}

.home_notice .home_notice_icon {
    margin-right: 1vmin;
    font-size: 4.5vmin;
    color: rgb(64, 134, 220);
}

.home_notice .home_notice_msg {
    font-size: 3vmin;
    font-weight: 600;
}

.home_notice .home_notice_writing {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.home_notice_writing .notice_writing_column {
    display: flex;
    margin-bottom: 2vmin;
}

.home_notice .writing_icon {
    margin-right: 1vmin;
    font-size: 2.7vmin;
    color: rgb(64, 134, 220);;
}

.home_notice .writing_list {
    font-size: 2.2vmin;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1000px) { 
    .home_contents .home_notice {
        margin-top: 5vmin;
        padding-top: 5vmin;
        border-top: 2px solid #E9ECEF;
    }
}