.quiz_page .setting_timer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.setting_timer .timer_intro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vmin;
}

.setting_timer .timer_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vmin;
    margin-bottom: 2vmin;
    font-size: 18vmin;
    color: rgb(83, 204, 225);
}

.setting_timer .timer_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer_form input {
    width: 50%;
    margin-bottom: 2vmin;
}

.timer_form .timer_current {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2vmin;
}