.quizMode {
    color: #343A40;
    width: 100%;
    height: 100%;
    background-color: #343A40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.quizMode .quizTaking {
    background-color: rgb(244, 244, 244);
    width: 90%;
    height: 80%;
    border-radius: 10vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: 9px 10px 16px 1px rgba(0,0,0,0.89); 
    box-shadow: 9px 10px 16px 1px rgba(0,0,0,0.89);
}

.quizTaking .quizTaking_header {
    margin-top: 3.5vmin;
    margin-bottom: 5.5vmin;
    padding-bottom: 3vmin;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid rgb(130, 130, 130);
}
.quizTaking_header_column:first-child {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.quizTaking_header_column:first-child  .header_btn {
    width: 100%;
    display: flex;
}

.quizTaking_header .navBtn {
    font-size: 4vmin;
    cursor: pointer;
}
.quizTaking_header .homeBtn {
    margin-right: 2vmin;
}

.quizTaking_header .screenFullBtn {
    margin: 0 2vmin;
}

.quizTaking_header .quizTitle {
    height: 100%;
    padding: 0;
    outline: none;
    border: none;
    background-color: rgb(244, 244, 244);
    font-size: 8vh;
    width: 100%;
}

.quizTaking_header_column:last-child {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.quizTaking_header_column .quizTimer {
    margin-top: 1vmin;
    font-size: 5vmin;
    font-weight: 600;
    color: firebrick;
}

.quizTaking .quizNum {
    font-size: 9vmin;
}

.quizNum .quizNum_current {
    color: #E8314E;
    margin-right: 2.5vmin;
}