.quizContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.quizContainer .quiz_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

.quiz_content .content_quiz {
    line-height: 120%;
    font-size: 6.5vmin;
    margin-bottom: 4vmin;
}

.quiz_content .content_answer {
    display: flex;
    justify-content: center;
    align-items:center;
}

.content_answer .answer_btn {
    display: flex;
    align-items: center;
    font-size: 4vmin;
    border-radius: 5vmin;
    margin-right: 3vmin;
    background-color: #E8314E;
}
.content_answer .answer_btn:hover{
    background-color: #ff1f45;
}

.content_answer .answer_right {
    font-size: 6vmin;
    color: #E8314E;
}

.quizContainer .quizMoveBtn {
    width: 100%;
    margin-bottom: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizMoveBtn .beforeBtn,
.quizMoveBtn .nextBtn{
    padding: 0px;
    width: 6vmin;
    height: 6vmin;
    font-size: 4vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343A40;
    color: rgb(244, 244, 244)
}
.quizMoveBtn .beforeBtn:hover,
.quizMoveBtn .nextBtn:hover{
    background-color: #1f2124;
    color: rgb(255, 255, 255);
}

.quizMoveBtn .beforeBtn {
    margin-right: 1vmin;
}

.quizMoveBtn .nextBtn {
    margin: 0px 1vmin;
}

.quiz_content .content_select {
    width: 100%;
    margin-bottom: 4vmin;
}

.content_select .select_items {
    width: 100;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 5.5vmin;
    color: #2d3237;
    margin-bottom: 2vmin;
}

.select_items .select_num {
    border: 1px solid #2e3235;
    width: 5vmin;
    height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50%;
    margin-right: 4vmin;
}