.quiz_page .setting_BgImg {
    margin-top: 50px;
    width: 100%;
    display: flex;
}

.setting_BgImg .BgImg_seletForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 나중에 삭제하기 밑에꺼 */
    margin-bottom: 40px;
}

.BgImg_seletForm .seletFrom_msg {
    font-size: 22px;
}

.BgImg_seletForm .seletForm_column {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}



.seletForm_column .moveBtn {
    padding: 0px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343A40;
    color: rgb(244, 244, 244);
    cursor: pointer;
}
.seletForm_column .moveBtn:hover {
    background-color: #1f2124;
    color: rgb(255, 255, 255);
}

.seletForm_column .BgImg_img {
    margin: 0px 20px;
    width: 300px;
    height: 180px;
    border-radius: 20px;
    -webkit-box-shadow: 9px 10px 16px 1px rgba(0,0,0,0.89); 
    box-shadow: 9px 10px 16px 1px rgba(0,0,0,0.89);
}

.BgImg_seletForm .seletFrom_btn {
    width: 15%;
    padding: 10px 0px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}