.quiz_page .setting_BgImg {
    width: 50%;
    display: flex;
}

.setting_BgImg .BgImg_seletForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BgImg_seletForm .seletFrom_msg {
    font-size: 2.5vh;
}

.BgImg_seletForm .seletForm_column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 3vh;
}



.seletForm_column .moveBtn {
    padding: 0px;
    width: 4.5vh;
    height: 4.5vh;
    font-size: 3vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343A40;
    color: rgb(244, 244, 244);
    cursor: pointer;
}
.seletForm_column .moveBtn:hover {
    background-color: #1f2124;
    color: rgb(255, 255, 255);
}

.seletForm_column .BgImg_img {
    margin: 0px 20px;
    width: 16vw;
    height: 20vh;
    border-radius: 20px;
    -webkit-box-shadow: 9px 10px 16px 1px rgba(0,0,0,0.89); 
    box-shadow: 9px 10px 16px 1px rgba(0,0,0,0.89);
}

.BgImg_seletForm .seletFrom_btn {
    padding: 1vh 15px;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    background-color: rgb(128, 184, 128);
}
.BgImg_seletForm .seletFrom_btn:hover {
    background-color: rgb(112, 174, 112);
}



.BgImg_seletForm .seleted {
    background-color: rgb(112, 174, 112);
}