.quiz_page .setting_BgImg {
    width: 50%;
    display: flex;
}

.setting_BgImg .BgImg_seletForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BgImg_seletForm .seletFrom_msg {
    font-size: 2.5vmin;
}

.BgImg_seletForm .seletForm_column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vmin;
    margin-bottom: 3vmin;
}



.seletForm_column .moveBtn {
    padding: 0px;
    width: 4.5vmin;
    height: 4.5vmin;
    font-size: 3vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343A40;
    color: rgb(244, 244, 244);
    cursor: pointer;
}
.seletForm_column .moveBtn:hover {
    background-color: #1f2124;
    color: rgb(255, 255, 255);
}

.seletForm_column .BgImg_img {
    margin: 0 2vmin;
    width: 16vw;
    height: 20vh;
    border-radius: 2vmin;
    -webkit-box-shadow: 9px 10px 16px 1px rgba(0,0,0,0.89); 
    box-shadow: 9px 10px 16px 1px rgba(0,0,0,0.89);
}

.BgImg_seletForm .seletFrom_btn {
    padding: 1vmin 1.5vmin;
    font-size: 2vmin;
    display: flex;
    justify-content: center;
    background-color: rgb(128, 184, 128);
}
.BgImg_seletForm .seletFrom_btn:hover {
    background-color: rgb(112, 174, 112);
}



.BgImg_seletForm .seleted {
    background-color: rgb(112, 174, 112);
}

@media screen and (max-width: 1000px) {
    .quiz_page .setting_BgImg {
        padding-bottom: 3vmin;
        margin-bottom: 3vmin;
        border-bottom: 1.5px solid #F8F9FA;
    }

    .seletForm_column .BgImg_img {
        width: 28vw;
        height: 14vh;
    }
    
}