.quiz_page .quiz_intro {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz_page .quiz_introMsg {
    width: 100%;
    font-size: 4vmin;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.quiz_page .quiz_setting {
    width: 100%;
    margin: 5vmin 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 1000px) {
    .quiz_page .quiz_setting {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }
}