*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html{
    height: 100%;
    max-height: 1000%;
    width: 100%;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#root, .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    margin-top: 6vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    color: #343A40;
}

a {
    color: black;
    text-decoration: none;
}

@import "Button.css";
@import "Footer.css";
@import "Header.css";
@import "reset.css";

/* Creation */
@import "./Creation/Creation.css";
@import "./Creation/CreationInfo.css";
@import "./Creation/CreationCompletion.css";
@import "./Creation/CreationLoading.css";
@import "./Creation/CreationQuizSave.css";
@import "./Creation/CreationContents.css";

/* Quiz */
@import "./Quiz/QuizIntro.css";
@import "./Quiz/QuizTaking.css";
@import "./Quiz/QuizContent.css";
@import "./Quiz/QuizNav.css";
@import "./Quiz/QuizEdit.css";
@import "./Quiz/QuizBgImg.css";
@import "./Quiz/QuizTimer.css";

/* Quiz Storage */
@import "./QuizStorage/QuizStorageIntro.css";

/* Method */
@import "./Method/Method.css";

/* Home */
@import "./Home/HomeIntro.css";
@import "./Home/HomeChrome.css";
@import "./Home/HomeNotice.css";

/* Notice */
@import "./Notice/NoticeList.css";
@import "./Notice/NoticeIntro.css";
@import "./Notice/NoticeContent.css";

/* 카카오 에드핏 */
.adfit {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4vmin 0vmin;
}