*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html, #root, .App {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


a {
    color: black;
    text-decoration: none;
}

@import "Button.css";
@import "Footer.css";
@import "Header.css";
@import "reset.css";

/* Creation */
@import "./Creation/Creation.css";
@import "./Creation/CreationQuiz.css";
@import "./Creation/CreationCompletion.css";
@import "./Creation/CreationLoading.css";

/* Quiz */
@import "./Quiz/Quiz.css";
@import "./Quiz/QuizTaking.css";
@import "./Quiz/QuizContent.css"