.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* margin: 0 auto; */
    background-color: #343A40;
    padding: 3vmin 0px;
    border-top: 1px solid #1f2224;
}

.footer .footer_explan-me {
    padding-right: 5vmin;
    border-right: 1px solid #939393;
}

.footer_explan-me .explan-me_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.3vmin;
    color: #b3b3b3;
    font-size: 1.5vmin;
    font-weight: 350;
}

.footer_explan-me .explan-me_item:first-child,
.footer_explan-web .explan-web_item:first-child {
    font-weight: 700;
    margin-bottom: 2vmin;
}

.footer_explan-me a {
    color: #b3b3b3;
    font-size: 1.5vmin;
}

.footer_explan-me div:first-child {
    margin-right: 1vmin;
}

.footer .footer_explan-web {
    margin-left: 5vmin;
}

.footer_explan-web .explan-web_item {
    color: #b3b3b3;
    font-size: 1.5vmin;
    font-weight: 350;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1vmin;
}

.explan-web_log_icon {
    margin-right: 1vmin;
    font-size: 1.3vmin;
}